# Dependencies
/node_modules

# Build output
/.next
/out
/build

# Deployment
/.vercel

# Coverage and logs
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local
!.env.example

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
